@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700;800;900&family=Poppins:wght@400;500;600;700;800;900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --fonts-family: 'Poppins', sans-serif;
  --tmdbDarkBlue: 3,37,65;
  --tmdbLightGreen: 30,213,169;
  --tmdbLightBlue: 1,180,228;
}

body {
  overflow-x: hidden;
}
.loading-para {
  font-size: 20px;
  font-family: var(--fonts-family);
  font-weight: 500;
  color: #3C4242;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
html {
  overflow-x: auto;
}
/* header */

#header {
  padding: 20px 95px;
  background-color: rgba(var(--tmdbDarkBlue),1);
}
.header-ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.logo img {
  width: 100%;
  max-width: 200px;
}
.links {
  text-decoration: none;
  text-transform: capitalize;
  color: white;
  font-family: var(--fonts-family);
  font-weight: 400;
  font-size: 20px;
  transition: 0.5s;
  margin-right: 28px;
}
button.links.btn.btn-secondary.dropdown-toggle {
  background-color: transparent;
  border: none;
  text-transform: capitalize;
  color: white;
  font-family: var(--fonts-family);
  font-weight: 400;
  font-size: 20px;
  transition: 0.5s;
  margin-right: 0 28px 0 0;
  padding: 0;
}
.dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
    display: none !important;
}
.links:hover {
  font-weight: 500;
  color: yellow;
}
/* banner */

.banner-content {
  background-image: url(/src/images/banner-img.jpg);
  padding: 70px 30px;
  border-radius: 0px 0px 10px 10px;
}
.banner-title {
  font-size: 35px;
  font-family: var(--fonts-family);
  font-weight: 900;
  color: white;
  margin-bottom: 10px;
}
.banner-sb-title {
  font-family: var(--fonts-family);
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 30px;
  color: white;
}
.banner-input {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 10px 0 10px 15px;
}
.banner-search-area {
  display: flex;
  background: white;
  border-radius: 50px;
}
button.banner-btn {
  background: linear-gradient(to right,rgba(var(--tmdbLightGreen),1) 0%,rgba(var(--tmdbLightBlue),1) 100%);
  border: none;
  color: white;
  padding: 0px 20px;
  font-size: 20px;
  text-transform: capitalize;
  border-radius: 50px;
  font-family: var(--fonts-family);
  font-weight: 500;
}
.banner-input::placeholder {
  font-size: 20px;
  font-family: var(--fonts-family);
  font-weight: 400
}
h1.trendmovie-title {
  font-size: 13px;
  font-family: var(--fonts-family);
  font-weight: 700;
  color: black;
  margin-bottom: 0;
  margin-top: 20px;
}
.release-date {
  font-size: 12px;
  font-family: var(--fonts-family);
  font-weight: 500;
  color: black;
}
.trend-movie-img {
  border-radius: 10px;
  margin-bottom: 10px;

}
.trend-movies-sec {
  padding: 10px 0;
}
.trend-movies-sec-title {
  font-size: 40px;
  font-family: var(--fonts-family);
  font-weight: 600;
  color: black;
  text-transform: capitalize;
  margin: 30px 30px 30px 0;
}

.tab-btn:hover {
  background-color: white;
  color: var(--tmdbDarkBlue);
  border: 2px solid rgba(var(--tmdbDarkBlue),1);
}
.text-dec-none {
  text-decoration: none;
}

.tabs {
  position: relative;
  padding: 0 25px;
  font-size: 20px;
  font-family: var(--fonts-family);
  font-weight: 500;
  color: white;
  border-radius: 50px;
  border: 2px solid rgba(var(--tmdbDarkBlue),1);
  background-color: rgba(var(--tmdbDarkBlue),1);
  margin-right: 10px;
  text-transform: capitalize;
  transition: 0.5s;
}


.active-tabs  {
  background-color: #fff;
}

.active-tabs::before {
  content: "";
  display: block;
  position: absolute;
  top: -4px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 2px);
  height: 4px;
  background: black;
}

.content {
    background-color: transparent;
    display: none;
    padding: 0;
}

.active-content {
    display: flex;
}

.popularmovies a {
  text-decoration: none;
  background-color: white;
  padding: 0 0 10px 0;
  box-shadow: 1px -1px 10px 0px #0000008c;
  margin-bottom: 20px;
  border-radius: 10px ;
  text-align: center;
  width: 19%;
}

.popularmovie-img {
  border-radius: 10px 10px 0 0;
  margin-bottom: 10px;
  aspect-ratio: 1/1.3;
}

.popularmovies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.abc {
  width: 36px;
  height: 34px;
  position: absolute;
  bottom: 19.5%;
  left: 12%;
  background-color: black;
  border-radius: 100%;
}

.CircularProgressbar .CircularProgressbar-text {
  fill: white !important;
  font-size: 23px !important;
  text-anchor: middle !important;
  font-family: var(--fonts-family);
  font-weight: 700;
}
.trending-movies-cards {
  position: relative;
}
.CircularProgressbar .CircularProgressbar-trail {
  stroke: transparent !important;
  stroke-linecap: round;
}
.CircularProgressbar .CircularProgressbar-path {
  stroke: yellow !important;
  opacity: 80% !important;
  stroke-linecap: round;
  -webkit-transition: stroke-dashoffset 0.5s ease 0s;
  transition: stroke-dashoffset 0.5s ease 0s;
}

.popularmovies a {
  position: relative;
}